h1 {
    font-family: 'Bangers', cursive;
    font-size: 70px;
}

#body {
    font-family: 'Bangers', cursive;
    font-size: 100px;
}

#body-text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
}

#logo {
    font-family: 'Bangers', cursive;
    font-size: 40px;
    color: white;
}