body,html {
    background-color: rgb(207, 36, 36);
    background-repeat: no-repeat, no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    font-family: 'arial narrow', sans-serif;
    color: white;
}

#logo {
    font-family: 'Staatliches', cursive;
    font-size: 35px;
    color: white;
    background-color:rgb(207, 36, 36);
}

#image-row {
    width: auto;
    height: auto;
    
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(207, 36, 36);
    color: white;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 21px;
}

.column {
    font-size: 20px;
}
