body,html {
    background-color: red;
    background-repeat: no-repeat, no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    font-family: 'Bangers', cursive
    
     
}

#image-row {
    width: auto;
    height: auto;
}

#footer-row {
    text-align: center;
    font-size: 30px;
}
