#body {
    font-family: 'Bangers', cursive;
    font-size: 100px;
    position: relative;
    color: white;
}

#body-text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
    color: white;
}

#logo {
    font-family: 'Staatliches', cursive;
    font-size: 35px;
    color: white;
    background-color:rgb(207, 36, 36);
}

#beer-button {
    font-size: 25px;
}

#beer-header {
    font-size: 35px;
    font-family: 'Bangers', cursive;
    background-color: lightgray;
    color: black;
}

.panel-block {
    background-color: white;
}

#show-options {
    position: relative; bottom: 90px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(207, 36, 36);
    color: white;
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 21px;
}

#random-button {
    font-family: 'Bangers', cursive;
    font-size: 25px;
}

#map {
    height: 300px;
    margin: 0 auto;
}

#random-brewname {
    font-family: 'Bangers', cursive;
    color: black;
}

#brewname-content {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

#brewname-content2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
}

.panel-card {
    position: relative; bottom: 90px;
}

#breweries {
    font-size: 20px;
}
